html,
body {
    margin: 0;
    padding: 0;
}

main {
    overflow: hidden;
}

main li:hover {
    transform: scale(1.2);
}


main li:hover i {
    transform: scale(1.3);
}

main i {
    color: black;
}

main ul {
    list-style: none;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    margin: 10px;
    overflow: hidden;
}

main li {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    font-size: 10px;
}


main li i {
    font-size: 3em;
    color: #333;
    transition: transform 0.3s ease-in-out;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
    z-index: 1;
    background-color: rgba(255, 255, 255, 50%);
    border-radius: 10px;
    padding: 40px;
    margin-top: 20px;
}

h1,
h2 {
    text-align: center;
}

.background {
    max-width: 100%;
    position: fixed;
    z-index: -1;
    width: 100%;
}

nav {
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0%));
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    height: 100%;
}

.lenguajeHtml:hover::before {
    content: "Html";
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 400%);
}

.lenguajeCss:hover::before {
    content: "Css";
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 400%);
}

.lenguajeJava:hover::before {
    content: "Java";
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 400%);
}

.lenguajeJs:hover::before {
    content: "JavaScript";
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 400%);
}

.lenguajeSql:hover::before {
    content: "MySql";
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 400%);
}

.lenguajeGithub:hover::before {
    content: "Github";
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 400%);
}

.lenguajePhp:hover::before {
    content: "Php";
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 400%);
}

.lenguajePython:hover::before {
    content: "Python";
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 400%);
}

footer {
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0%));
    height: 40px;
    margin: 20px 0;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.contenedorInicio {
    background: linear-gradient(to right, rgba(255, 255, 255, 50%), rgba(0, 0, 0, 0%));
    height: 1080px;
}

.caja-principal {
    position: relative;
    overflow: hidden;
}